.attribution { 
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: hsl(0, 0%, 0%);
    font-size: 10px;
    margin-top: -10px;
}

.attribution a {
    color: hsl(218, 44%, 22%); 
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Roboto', sans-serif;
}

.perfume-product {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 375px;
    height: 500px;

    border-radius: 1.5rem;
}

#perfume-text {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
}

.perfume-picture {
   background-image: url("images/image-product-desktop.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
}

@media screen and (max-width: 992px) {
    .perfume-product {
        flex-direction: column;
        width: auto;
    }

    .perfume-picture {
        background-image: url("images/image-product-mobile.jpg");
        width: 100%;
    }
}

#perfume-title {
    font-size: 32px;
    font-weight: 700;
}

#perfume-starter, #perfume-pitch {
    font-weight: 500;
    color: #868686;
    gap: 1.0rem;
}

.price {
    display: flex;
    align-items: center;
    gap: 1.0rem;
}

#perfume-new-price {
   color: hsl(158, 36%, 37%);
   font-size: 32px;           
   font-weight: 700;
}

#perfume-old-price {
    text-decoration: line-through;
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 1.0rem;
    padding: 20px;
    width: 100%;
    gap: 1.0rem;

    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

button:focus {
    outline: 1px solid #8686862f;
}

button:hover {
    transition: 0.3s;
    background-color: hsl(159, 35%, 21%);
}